/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

 /*
  *
  * General Rules
  *
  */

  body {
  	font-family: 'Montserrat', sans-serif;
  }

  /*header#mainHeader {
  	background-color: pink;
  	width: 20vw;
  	height: 100vh;
  	position: fixed;
  	padding: 25px;
  }

  header#mainHeader > img {
  	width: 100%;
  	margin-bottom: 25px;
  	border: 2px solid black;
  }

  header#mainHeader > nav > ul {
  	list-style-type: none;
  	text-align: center;
  }

  header#mainHeader > nav > ul > li {
  	height: 50px;
  	margin-bottom: 5px;
  }

  header#mainHeader > nav > ul > li > a {
  	text-decoration: none;
  	line-height: 50px;
  	display: block;
  	background-color: lightblue;
  }

  header#mainHeader > nav > ul > li > a: hover {
  	background-color: black;
  	color: red;
  }*/

 /* main#wrapper {
  	background-color: gray;
  	margin-left: 20vw;
  }

  main#wrapper > section > h2 {
  	text-align: center;
  	letter-spacing: 2px;
  }

  section#home {
  	background-color: red;
  	height: 100vh;
  	color: white;
  	position: relative;
  }

  section#home > div {
  	border: 3px solid white;
  	width: 50%;
  	padding: 25px;
  	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }*/

  /*section#about {
  	background-color: orange;
  	min-height: 50vh;
  }

  section#about > p {
  	margin-bottom: 25px;
  	padding: 0 25px 25px;
  }

  section#services {
  	background-color: yellow;
  	min-height: 75vh;
  	padding: 0 15px 15px;
  }

  section#services > div {
  	border: 2px solid black;
  	padding: 15px;
  	margin: 0;
  	width: 33.33%;
  	float: left;
  }

  section#services > div > img {
  	width: 100%;
  }

  section#projects {
  	background-color: green;
  	padding: 0 15px 15px;
  }

  section#projects > div {
  	border: 2px solid white;
  	padding: 15px;
  	float: left;
  	width: 25%;
  }

  section#projects > div > img {
  	width: 100%;
  }

  section#contact {
  	background-color: blue;
  	min-height: 50vh;
  	color: white;
  }

  section#contact > p {
  	margin: 0 25px;
  	
  }*/

 /* footer#mainFooter {
  	background-color: violet;
  }

  footer#mainFooter > div#left {
  	width: 50%;
  	float: left;
  	font-size: 12px;
  	padding: 30px;
  	font-weight: 50px;
  }

  footer#mainFooter > div#right {
  	width: 50%;
  	float: left;
  	padding: 22px;
  }

  footer#mainFooter > div#right > ul {
  	list-style: none;
  	text-align: right;
  }

  footer#mainFooter > div#right > ul > li {
  	display: inline-block;
  	padding-left: : 5px;
  }*/

  .clear:after {
  	content: "";
  	display: block;
  	clear: both;
  }