/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

 /*
  *
  * General Rules
  *
  */

  body {
  	font-family: 'Montserrat', sans-serif;
  }


  .clear:after {
  	content: "";
  	display: block;
  	clear: both;
  }