/*
 *
 * Tablet Device
 *
 */
 @media only screen and (min-width: 401px) and (max-width: 960px) {

   header#mainHeader {
    background-color: pink;
    width: 20vw;
    height: 100vh;
    position: fixed;
    padding: 25px;
  }

  header#mainHeader > img {
    width: 100%;
    margin-bottom: 25px;
    border: 2px solid black;
  }

  header#mainHeader > nav > ul {
    list-style-type: none;
    text-align: center;
  }

  header#mainHeader > nav > ul > li {
    height: 50px;
    margin-bottom: 5px;
  }

  header#mainHeader > nav > ul > li > a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    background-color: lightblue;
  }

  header#mainHeader > nav > ul > li > a: hover {
    background-color: black;
    color: red;
  }

  main#wrapper {
    background-color: gray;
    margin-left: 20vw;
  }

  main#wrapper > section > h2 {
    text-align: center;
    letter-spacing: 2px;
  }

  section#home {
    background-color: red;
    height: 100vh;
    color: white;
    position: relative;
  }

  section#home h3 {
    font-size: 53px;
    letter-spacing: 7px;
  }

  section#home > div {
    border: 3px solid white;
    /*width: 50%;*/
    /*width: 75%;*/
    padding: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section#about {
    background-color: orange;
    /*min-height: 50vh;*/
  }

  section#about > h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  section#about > p {
    padding: 0 25px 25px;
    text-align: justify;
  }

  section#services {
    background-color: yellow;
    min-height: 75vh;
    padding: 0 15px 15px;
  }

  section#services > h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  section#services > div {
    border: 2px solid black;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
  }

  section#services > div > img {
    width: 20%;
    float: left;
    margin-right: 15px;
  }

  section#services > div > h3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  section#services > div > img > p {
    text-align: justify;
  }

  section#projects {
    background-color: green;
    padding: 0 15px 15px;
  }

  section#projects > h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  section#projects > div {
    border: 2px solid white;
    padding: 15px;
    float: left;
    width: 50%;
  }

  section#projects > div > h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  section#projects > div > img {
    width: 100%;
  }

  section#projects > div > p {
    text-align: justify;
  }

  section#contact {
    background-color: blue;
    /*min-height: 50vh;*/
    color: white;
  }

  section#contact > h2 {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  section#contact > p {
    /*margin: 0 25px;*/
    padding: 0 25px 25px;
    text-align: justify;

  }

  footer#mainFooter {
    background-color: violet;
  }

  footer#mainFooter > div#left {
    width: 50%;
    float: left;
    font-size: 12px;
    padding: 30px;
    font-weight: 50px;
  }

  footer#mainFooter > div#right {
    width: 50%;
    float: left;
    padding: 22px;
  }

  footer#mainFooter > div#right > ul {
    list-style: none;
    text-align: right;
  }

  footer#mainFooter > div#right > ul > li {
    display: inline-block;
    padding-left: : 5px;
  }
}
